<h2>{{title}}</h2>

<nav>
  <ul class="nav nav-tabs">
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/crisis-center">Crisis Center</a></li>
    <li><a routerLink="/heroes">Heroes</a></li>
    <li><a routerLink="/hero-form">Add Hero</a></li>
    <li><a routerLink="/sidekicks">Go to sidekicks</a></li>
  </ul>
</nav>

<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
<app-messages></app-messages>
