.search-box {
  max-width: 300px;
}

#search-component {
  clear: left;
}

.search-result {
  margin-top: 0;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  max-width: 300px;
  box-shadow: rgb(219, 219, 219) 0px 2px 2px 3px;
}

.search-result ul {
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.search-result li {
  max-width: 3000px;
  height: 34px;
  padding: 6px 12px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
  font-size: 14px;
}

.search-result li:hover {
  background-color: #eee;
  color: white;
}

.search-result li a {
  color: rgb(92, 92, 92);
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: rgb(92, 92, 92);
}
.search-result li a:active {
  color: rgb(92, 92, 92);
}
